<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Navbar</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container">
        <a class="navbar-brand text-white">CRM System</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a aria-current="page" class="nav-link active text-white" href="/">All</a>
                </li>
                <li class="nav-item">
                    <a aria-current="page" class="nav-link active text-white" href="/?show=unhandled">New</a>
                </li>
                <li class="nav-item">
                    <a aria-current="page" class="nav-link active text-white" href="/?show=handled">Handled</a>
                </li>
                <li class="nav-item">
                    <a aria-current="page" class="nav-link active text-white" href="/add">Create request</a>
                </li>
                <li class="nav-item">
                    <a aria-current="page" class="nav-link active text-white" href="/addCourse">Create course</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
<script th:href="@{/js/bootstrap.bundle.js}"></script>
</html>